@model StorageViewModel

<h2>Images</h2>
<div>
    @foreach (var url in Model.Blobs)
    {
        <img src="@url" alt="Image" style="max-width: 200px; margin: 10px;" />
    }
</div>

<h2>File Storage</h2>
<ul>
    @foreach (var file in Model.Files)
    {
        <li>@file</li>
    }
</ul>

<h2>Queue Storage</h2>
<ul>
    @foreach (var message in Model.QueueMessages)
    {
        <li>@message</li>
    }
</ul>

<h2>Table Storage</h2>
<ul>
    @foreach (var entity in Model.TableEntities)
    {
        <li>@entity</li>
    }
</ul>
