@{
    ViewBag.Title = "About Us";
}

<h2>About ABC Retail</h2>
<p>
    ABC Retail has been serving customers since 1990. We pride ourselves on offering the best products and services.
</p>
<p>
    Some of the work we have done includes:
    <ul>
        <li>Partnering with local suppliers</li>
        <li>Launching a new line of eco-friendly products</li>
        <li>Expanding our online presence</li>
    </ul>
</p>
